<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/Style.css" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <a href="/feed">Актуальная лента</a>
        <a href="/cabinet">Личный кабинет</a>
        {% if user.can_report_check %}
            <a href="/report-check">Проверка</a>
        {% endif %}
        {% if user.can_report %}
            <a href="/report">Доложить</a>
        {% endif %}
    </header>

    <div class="content">
        <h1>Доложить</h1>
        <form action="/report" method="post" class="form-block">
            <input required type="text" name="title" placeholder="Заголовок"/>
            <textarea required name="description" placeholder="Краткое описание"></textarea>
            <textarea required name="location" placeholder="Место происшествия"></textarea>
            <textarea name="files" placeholder="Ссылки на фотографии"></textarea>
            <div>
                <input type="submit" value="Отправить">
                <input type="button" onclick="window.location.href='/feed';" value="Назад">
            </div>
        </form>
    </div>
</body>
</html>